@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
    var homePage = CurrentPage.AncestorsOrSelf(1).First();    
    var gemGallery = homePage.umbGemStoneGallery.First();
    var gemStones = gemGallery.umbGemStones.OrderBy("publishDate desc, createDate desc");
}

<div class="container gem-stone-gallery-table">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>
                    Family
                </th>
                <th>
                    Color
                </th>
                <th>
                    Description
                </th>
                <th>
                    Carat
                </th>
                <th>
                    SKU
                </th>
            </tr>
            </thead>
            <tbody>
				@foreach (var item in gemStones)
                {

                    // If the editor has not explicitly provided the "Page title" property page
                    // then just show the name of the page otherwise show the provided title
                    var title = string.IsNullOrWhiteSpace(item.Title)
                        ? item.Name
                        : item.Title;


                    // If the editor has not explicitly set the publishDate property then show the create date
                    var dateTime = item.PublishDate == default(DateTime)
                        ? item.CreateDate
                        : item.PublishDate;

                    <tr>
                        <td><a href="@item.Url"><img src="http://placehold.it/50x50"></a></td>
                        <td>@item.Family</td>
                        <td>@item.Color</td>
                        <td>@Umbraco.Truncate(item.Description, 50)</td>
                        <td>@item.Carat</td>
                        <td>@item.SKU</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>